body{
    font-family: "微軟正黑體"
}

.bg-cover{
    background-size: cover;
    background-position: center center;
}

.nav-top{
    position: sticky;
    top: 0;
    z-index: 10;
}

p{
    font-size: 24px;
}

li{
    font-size: 20px;
}

.text-hover:hover{
    color: aquamarine !important;
}

.text-active{
    color: aquamarine !important;
}

.card-footer a{
    display: block;
}

.scroll-nav{
    position: absolute;
    top: 300px;
    left: 50%;
    margin-left: -15px;
    animation-duration: 3S;
    animation-name: down;
    animation-iteration-count: infinite;
}

.aboutMe-ani,.skills-ani,.works-ani{
    opacity: 0;
    transition: all 2s;
}

.active{
    opacity: 1;
}

@keyframes down{
    0%{
        top: 300px;
    }
    50%{
        top: 330px;
    }
    100%{
        top: 300px;
    }
}